.container {width: 800px; margin: 0 auto;}
p,dd { line-height: 1.35em;}
	li { line-height: 1.5em;}

/* ADD EXAMPLES BELOW */
/*text-align values: right, center, left or justify */

#textAlign dt { text-align: right; } 
#textAlign dd { text-align: inherit; }  


/*text-decoration values: line-through, none, overline, underline */
/* add a line through the text */
.throughText { text-decoration: line-through; } 
.underTextNone a { text-decoration: none; }


/* remove a line from under an anchor element */
.underTextNone a { text-decoration: none; }

/* add a line over the text */
.overText  { text-decoration: overline; }

/* add a line under the text */
.underText  { text-decoration: underline; }


/* indent the first line of text */
#textIndent dd  { text-indent: 20px; }


/* capitalize, lowercase, uppercase */
#textCapital  { text-transform: capitalize; }
