body{
	background-color:#235f93;
	font-size: 100%;
}
.container {
	width:90%;
	max-width:960px;
	min-width:340px;
	margin: 0 auto;
	font-family: sans-serif;
	padding: 2.0833333%;
	background-color:#2d7abc;
	border-radius:6px;
}
h1{
  color:#9bc4e7;
  }
p{
	font-family: Georgia, serif;
	color: #efefef;
	font-size:1em;
	line-height:1.25em;
}
