body {
	font-family: "Lucida Handwriting", cursive;
	font-size: 20px;
	background-color: saddlebrown;
}
#date {
	text-align: right;
	font-size: 22px;
	line-height: 1.25;
}
#greeting {
	font-size: 26px;
	line-height: 1.25;
}
.bodyText {
	text-indent: 50px;
	line-height: 1;
}
#farewell {
	text-align: right;
	font-size: 26px;
	line-height: 1;
}
#signature {
	text-align: right;
	font-size: 40px;
	line-height: 1;
}
footer {
	color: yellow;
	font-family: Arial;
	font-size: 12px;
	line-height: 1.25;
}
.misspelledText {
	text-decoration: line-through wavy;
}
.underlineText {
	text-decoration: underline;
}
.emphaticText {
	text-transform: uppercase;
	font-weight: bolder;
}
div {
 background-color: white;
  width: 600px;
  border: 100px solid saddlebrown;
  padding: 50px;
  margin: 20px;
}