#header{
	height: 150px;
	background-color: #de0000;
	padding: 20px 50px;
	color: #EEE;
	font-family: "Times New Roman", Times, Serif;
}
#header img{
	float: right;
}
h1{
	font-size: 50px;
}
.column{
	float: left;
	width: 50%;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
#container{
	height: 3760px;
	background-color: #000000;
}
#main{
	height: 3460px;
	padding: 30px 50px;
	color: #EEE;
}
#footer{
	height: 150px;
	background-color: #737373;
	padding: 10px 0;
}
table, th, td{
	border: 1px solid white;
	width: 100%;
	text-align: center;
	table-layout: fixed;
}
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: underline;
}
a:active{
	color: red;
	text-decoration: underline;
}